[submodule "oilengine/vendor/imgui"]
	path = oilengine/vendor/imgui
	url = https://github.com/Wardronthewarden/imgui
[submodule "oilengine/vendor/spdlog"]
	path = oilengine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "oilengine/vendor/glfw"]
	path = oilengine/vendor/glfw
	url = https://github.com/Wardronthewarden/glfw
[submodule "oilengine/vendor/glm"]
	path = oilengine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "oilengine/vendor/yaml-cpp"]
	path = oilengine/vendor/yaml-cpp
	url = https://github.com/Wardronthewarden/yaml-cpp
[submodule "oilengine/vendor/ImGuizmo"]
	path = oilengine/vendor/ImGuizmo
	url = https://github.com/Wardronthewarden/ImGuizmo
